
html {
  padding: 20px 0;
}

form input.input-medium,
form textarea.input-medium {
  width: 100%;
  
}

.ui-combobox a,
.ui-combobox span {
  display: none !important;
}

ul.ui-autocomplete {
  width: auto !important;
}
#person-card {
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  background: #eee;
  border:1px solid #eee;  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.existing-item {
  display: block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  background: #eee;
  border:1px solid #eee;  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.note-content {
  margin-bottom: 5px;
}

.existing-item.note {
  height: auto;
  margin-bottom: 9px;
}
.note-author {
  display: block;
  text-align: right;
  color: #777;
}

.link {
  text-overflow: ellipsis;
}
